* {
  padding: 0;
  margin:0;
  box-sizing: border-box;
  outline: none;
}
#container {
  width: 95%;
  height: 100%;
  margin: auto;
  background-color: salmon;
  /*background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../assets/images/pixels-bg.jpg);*/
}
.twitter-title {
  text-align: center;
  font-family: 'Patrick Hand', cursive;
  font-size: 55px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  background-color: #6ad2f3;
}
.action {
  width: 700px;
  height: 280px;
  margin:25px auto;
  border-radius: 5px;
  overflow: auto;
  background-color: #fff;
  padding: 25px;
}

textarea {
  width: 650px;
  border: none;
  border-bottom: 4px solid #6ad2f3;
  font-family: monospace;
  font-size: 18px;
  line-height: 28px;
  padding-bottom: 15px;
  margin-bottom: 25px
}
.button {
  width: 100px;
  height: 50px;
  margin: auto;
  background-color: #6ad2f3;
  font-size: 20px;
  font-family: 'Patrick Hand', cursive;
  color: #fff;
  border: none;
  border-radius: 5px;
}
.characters-nums {
  display: inline-block;
  float: right;
  font-family: 'Patrick Hand', cursive;
  font-size: 35px;
  margin-right: 15px;
  color: #6ad2f3;
}
 #newTweets {
   height: 400px;
   width: 95%;
   margin:auto;
   background-color: #fff;
 }
